.header-section {
  background-color: #284058;
  padding: 20px 10px;
  color: #fff;
  border-bottom: 10px solid #fff;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-section {
  font-weight: bold;
}

.title-header {
  color: #1b3956;
  text-decoration: underline;

}

.edu-data {
  color: #1b3956;

  font-weight: bold;
  font-size: 16px;
  word-wrap: break-word;
}

.contact-section>div {
  padding-bottom: 5px;
}

.summary-section {
  padding: 10px;
  color: #284058;
  font-weight: bold !important;
  background-color: #adb5bd33;
}

.skill-text {
  background-color: #ffff !important;
  color: #1b3956 !important;
  border: 2px solid #1b3956;
  margin: 2px;
  font-size: 16px !important;


}

.skill-section {
  border-right: 5px solid #afbecd83;
}

.role {
  color: #284058;
  font-style: italic;
}

.projects {
  color: #284058;
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}

.responsibilities {
  color: #284058;
  font-weight: 400;
}

.project-border {
  border: 3px solid #2a3641;
  border-radius: 2px;
}


.profile-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.profile-content {
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  top: 10%;
  padding: 10px;
  width: 100%;
  color: #f1f1f1;
  background-color: #00000029;

}

.profile-photo {
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.content-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.profile-summary {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}

.carousal-content {
  text-align: left !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Achievements {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}

.award-item {
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  background-color: rgba(216, 64, 224, 0.63);
  animation-name: awarditem;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes awarditem {
  from {
    background-color: rgba(216, 64, 224, 0.63);
  }

  to {
    background-color: rgba(19, 17, 18, 0.104);
  }
}

.skill-item {

  padding: 10px;
  border-radius: 10px;
  width: 50% !important;
  background-color: rgba(216, 64, 224, 0.63);
  animation-name: awarditem;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}